<!-- header-section start -->
<%- include('../partials/_top', {title:"Edit Children", current_menu : {parent: 'Children', child: 'Manage'} }) %>
<!-- header-section end -->


<!-- details start -->
<form method="post" action="<%='/children/edit/'+data._id %>">
    <div class="card card-primary m-3">
        <!-- /.card-header -->
        <div class="card-body">
            <h3 class="card-title">Children Details of <%= data.name %></h3>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</form>
<!-- /details end -->

<!-- Students start -->
<div class="card card-primary m-3">
    <div class="card-header">
        <h3 class="card-title">Students</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="form-group">
            <label for="students">Students</label>
            <table>
                <% data.children.forEach(function(child){%>
                    <tr>
                        <% studentDetail = students.find( student => student._id.toString() === child.toString() ) %>
                        <td style="padding: 0 15px"><%= studentDetail.name %></td>
                        <td style="padding: 0 15px"><%= studentDetail.username %></td>
                        <td style="padding: 0 15px">
                            <form method="post" action="<%='/children/removeStudent/'+data._id+'/'+child %>">
                                <button type="submit" class="btn btn-primary">Remove</button>
                            </form>
                        </td>
                    </tr>
                <%})%>
                <% if(data.children.length == 0){%>
                    <tr>
                        <td>No child added</td>
                    </tr>
                <%}%>
            </table>
        </div>
        <form method="post" action="<%='/children/addStudent/'+data._id %>">
            <% const restStudents = students.filter(student => !data.children.find( child => child.toString() == student._id.toString() )); %>
            <% if(restStudents.length == 0){%>
                <div class="form-group">
                    <label>No more students to add</label>
                </div>
            <%} else { %>
                <div class="form-group">
                    <label for="students">Add Student</label>
                    <select class="form-control" id="students" name="child">
                        <% restStudents.forEach(function(user){%>
                            <option value="<%= user._id %>"><%= user.name %> - <%= user.username %></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            <%}%>
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- /Students end -->

<%- include('../partials/_bottom') %>