<%- include('../partials/_top', {title:'Children List', current_menu : {parent: 'Children', child: 'List'} }) %>
<section class="content">
    <div class="container-fluid">
    <div class="row">
      <% if (students.length == 0) { %>
        <h5>No students has been registed as your children. Please contact admin</h5>
      <% } %>
      <% students.forEach( item => { %>
        <div class="col-lg-3 col-6">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <h3 class="profile-username text-center"><%= item.name %></h3>
              <p class="text-muted text-center"><%= item.username %></p>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Address</b> <a class="float-right"><%= item.address %></a>
                </li>
                <li class="list-group-item">
                  <b>Mobile</b> <a class="float-right"><%= item.mobile %></a>
                </li>
                <li class="list-group-item">
                  <b>NIC</b> <a class="float-right"><%= item.NIC %></a>
                </li>
              </ul>
              
                <a href="/users/viewStudent/<%= item._id %>" class="btn btn-primary btn-block"><b>View</b></a>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      <% }) %>
    </div>
 
  
</div>
</section>

<%- include('../partials/_bottom') %>