<!-- defining menus-->
<%
  if(typeof current_menu == 'undefined')current_menu={parent:'', child: ''};
 %>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/" style="width: 100%;">
        <img src="/images/DP.png" alt="School Logo" class="brand-image" style="width: 100%;">
    </a>


    <div class="sidebar">
        <!-- Sidebar -->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <% menus[type] && menus[type].forEach( menu => { %>
                    <li class="nav-item <%= (menu.title===current_menu.parent)?'menu-open':'' %>">
                        <a href="<%= menu.href %>" class="nav-link <%= (menu.title===current_menu.parent)?'active':'' %>">
                            <i class="nav-icon <%= menu.icon %>"></i>
                            <p>
                                <%= menu.title %>
                                <% if(menu.children){ %>
                                    <i class="right fas fa-angle-left"></i>
                                <% } %>
                            </p>
                        </a>
                        <% if(menu.children){ %>
                            <ul class="nav nav-treeview">
                                <% menu.children.forEach( child => { %>
                                    <li class="nav-item">
                                        <a href="<%= child.href %>" class="nav-link <%= (menu.title===current_menu.parent&&child.title===current_menu.child)?'active':'' %>">
                                            <i class="nav-icon <%= child.icon %>"></i>
                                            <p><%= child.title %></p>
                                        </a>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </li>
                <% }) %>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                        <p>
                            Log out
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

</aside>
