<!-- header-section start -->
<%- include('../partials/_top', {title:"Exams", current_menu : {parent: 'Exams', child: 'List'} }) %>
<!-- header-section end -->

<div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Select Class</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <tbody>
          <% var count = 1; %>
          <% data.forEach( row => { %>
            <tr data-id="<%= row.id %>">
                <td style="width: 40px"><%= count++ %></td>
                <td>
                    <a href="/attendance/take/<%= row._id %>">
                        <%= row.title %>
                    </a>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<%- include('../partials/_bottom') %>