<!-- header-section start -->
<%- include('../partials/_top', {title:"Users", current_menu : {parent, child} }) %>
<!-- header-section end -->

<style>
  .verticalTH {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(270deg);

}
.verticalTH:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}
@media print {
    .card.card-primary {
      font-family:georgia, times, serif;
    }
    .main-footer, .card-footer {
      display: none;
    }
  }
</style>

<div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Attendance for <%= data.title %></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 40px">#</th>
            <th>Index Number</th>
            <th>Name</th>
            <% data.attendanceDates.forEach( date => { %>
              <th class="text-center verticalTH"><%= moment(date).format('MM/DD/YYYY hh:mm') %></th>
            <% }) %>
          </tr>
        </thead>
        <tbody>
          <% var count = 1; %>
          <% data._students.forEach( row => { %>
            <tr data-id="<%= row.id %>">
              <td><%= count++ %></td>
              <td><%= row.username %></td>
              <td><%= row.name + " "  %></td>
              <% row.attendances.forEach( attendance => { %>
                <td data-data="<%= JSON.stringify({...attendance, date: moment(attendance.date).format('MM/DD/YYYY hh:mm') }) %>"><%= attendance.attendance?'Present':'Absebt' %></td>
              <% }) %>
            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <th></th>
          <th colspan="2">Total</th>
          <% detail.attendanceDetails.forEach( det => { %>
            <th><%= `${det.attendeces} / ${det.total}` %></th>
          <% }) %>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="button" class="btn btn-primary" onclick="window.print()">Print</button>
    </div>
</div>
<!-- /.card -->

<%- include('../partials/_bottom') %>
<script src="../../plugins/moment/moment.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    $(function () {
        $('#examdatetime').datetimepicker({
            locale: 'ru'
        });
    })
</script>