<!-- header-section start -->
<%- include('../partials/_top', {title:"Notices", current_menu : {parent: 'Notices', child: 'List'} }) %>
<!-- header-section end -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

      <!-- Timelime example  -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <div class="timeline">
            <% data.forEach( notice => { %>
              <!-- timeline time label -->
              <div class="time-label">
                <span class="bg-red"><%= moment(notice.date).format("DD MMM YYYY") %></span>
              </div>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fas fa-clock"></i> <%= moment(notice.date).format("hh:mm") %></span>
                  <h3 class="timeline-header"><a href="#"><%= notice.title %></a></h3>
                  <div class="timeline-body">
                    <%= notice.content %>
                  </div>
                </div>
              </div>
              <!-- END timeline item -->
            <% }) %>
            <div>
              <i class="fas fa-clock bg-gray"></i>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.timeline -->

</section>
<!-- /.content -->

<%- include('../partials/_bottom') %>
