<!-- header-section start -->
<%- include('../partials/_top', {title:"Notices", current_menu : {parent: 'Notices', child: 'Add Notice'} }) %>
<!-- header-section end -->

<div class="card card-primary m-3">
    <div class="card-header">
        <h3 class="card-title"><%= title %></h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" action="<%=(data == false ) ? '/notices/new' : '/notices/editSubmit/'+data._id %>">
    <div class="card-body">
        <div class="form-group">
            <label for="author">Title</label>
            <input type="text" class="form-control" id="title" name="title"  value="<%= data !== false ? data.title : '' %>">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" class="form-control" rows='8' id="content" name="content"><%= data !== false ? data.content : '' %></textarea>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <% if(data!=false){ %>
            <input type="hidden" name="id" value="<%= data._id %>">
        <% } %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>
<!-- /.card -->

<%- include('../partials/_bottom') %>